# .gitignore
# Ignore everything in the root directory
/*
# Except the following folders/files
!.gitignore
!.gitattributes
!README.md
!Assets/
!ProjectSettings/
!Team 4 Project 4 Basic Design Doc.docx